<!DOCTYPE html>
<html>

<head>
  <style>
      .lineone{
          border-bottom: 6px solid #B41407;
          margin-top: 10px;
      }

       h1{
           font-size: 36px;
       }
       .map_container
      {
          width:805px;
          height:220px;
          overflow:scroll;
           padding: 3px 66px 6px 66px;
      }

      .buttons{
          padding-bottom: 1em;
          padding-top: 1em;
      }

      .button-one{
          background-color: #B41407;
          border: 0 none;
          color: #FFFFFF;
          padding: 0.5em 2em;
          float:left;
          margin-left: 9px;
      }


  </style>
  <script>
      function OpenInNewTab(url )
      {
          var win=window.open(url, '_blank');
          win.focus();
      }
  </script>

</head>

<body>
<div class="container">
<h1>
  Hyderabad Ruby
</h1>
<div class = "lineone"></div>



  <%= gmaps4rails(@json) %>


<div class = "lineone"></div>
  <div class="buttons">
    <p>Future Meetup :</p>
  <button type="button" onclick="OpenInNewTab('http://www.meetup.com/RubyHyderabad/')" class="button-one">22.02.14</button>&nbsp;
  <button type="button" onclick="OpenInNewTab('http://www.meetup.com/RubyHyderabad/')" class="button-one">08.03.14</button>&nbsp;
  <button type="button" onclick="OpenInNewTab('http://www.meetup.com/RubyHyderabad/')" class="button-one">22.0314</button>
  </div>
  <div class="buttons">
    <p>Past Meetup :</p>
    <button type="button" onclick="OpenInNewTab('http://www.meetup.com/RubyHyderabad/')" class="button-one">08.02.14</button>&nbsp;
    <button type="button" onclick="OpenInNewTab('http://www.meetup.com/RubyHyderabad/')" class="button-one">25.01.14</button>&nbsp;
    <button type="button" onclick="OpenInNewTab('http://www.meetup.com/RubyHyderabad/')" class="button-one">11.01.14</button>
  </div>
<div class = "lineone"></div>
  <h4>Groups</h4>
  <div class="buttons">
    <p>Meetup :</p>
    <button type="button" onclick="OpenInNewTab('http://www.meetup.com/RubyHyderabad/')" class="button-one">Ruby Hyderabad</button>&nbsp;
    <button type="button" onclick="OpenInNewTab('http://www.meetup.com/RubyHyderabad/')" class="button-one">Ruby Hyderabad</button>&nbsp;
  </div>
  <div class="buttons">
    <p>Twitter :</p>
    <button type="button" onclick="OpenInNewTab('https://twitter.com/HydRuby')" class="button-one">@HydRuby</button>&nbsp;
    <button type="button" onclick="OpenInNewTab('https://twitter.com/HydRuby')" class="button-one">@HydRuby</button>&nbsp;
  </div>
</div>
</body>


